 <script src="../../pages/Modal/chang-password/chang-password.component.ts"></script>
 <div id="wrapper">
    <div class="form-login">
      <form class="form-login-group" [formGroup]="loginForm" (ngSubmit)="login()">
        <h1 class="text-center">Đăng nhập</h1>
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div class="err" *ngIf="loginForm.get('email')?.invalid &&( loginForm.get('email')?.dirty || loginForm.get('email')?.touched) || submitted">
            <div *ngIf="loginForm.get('email')?.hasError('required')">
              Vui lòng nhập email
            </div>
            <div *ngIf="loginForm.get('email')?.hasError('email')">
              Vui lòng nhập đúng định dạng @gmail.com
            </div>
          </div>
        </div>
        <div class="form-group pass-form" id="password">
          <label for="exampleInputPassword1">Mật Khẩu</label>
          <input type="{{!showEye ? 'password' : 'text'}}" formControlName="password" class="form-control" id="exampleInputPassword1">
          <div id="eye" (click)="showEye = !showEye">
            <i class="fa-solid fa-eye" *ngIf="showEye"></i>
            <i class=" fa-solid fa-eye-slash" *ngIf="!showEye"></i>
          </div>
          <div class="err"  *ngIf="loginForm.get('password')?.invalid &&( loginForm.get('password')?.dirty || loginForm.get('password')?.touched) || submitted">
            <div *ngIf="loginForm.get('password')?.hasError('required')">
              Vui lòng nhập password
            </div>
            <div *ngIf="loginForm.get('password')?.hasError('pattern')">
              Vui lòng nhập password có 8 đến 20 kí tự, bao gồm số, chữ cái viết hoa, chữ viết thường và kí tự đặc biệt
            </div>
          </div>
        </div>
<!--        <div class="form-group form-check">-->
<!--          <input type="checkbox" class="form-check-input form-input" id="exampleCheck1">-->
<!--          <label class="form-check-label" for="exampleCheck1">Ghi nhớ đăng nhập</label>-->
<!--        </div>-->
        <button id="btn_login" type="submit" class="btn btn-primary form-control" onclick="spinnerLoad()">Đăng nhập</button>
        <button id="btn_spinner" type="submit" class="btn btn-primary form-control">
          <p-progressSpinner [style]="{width: '24px', height: '24px'}"  strokeWidth="10"></p-progressSpinner>
        </button>
        <div class="forget-password">
          <a [routerLink]="['/auth/forgot-password']" class="text-dark">Quên mật khẩu?</a>
        </div>
      </form>
    </div>
  </div>

<p-toast></p-toast>


