.table-responsive td img {
  width: 80px;
}

.table-responsive thead {
  background-color: #E2DCC8;
  color: #47474a
}

.table-responsive tbody {
  background-color: #F1F1F1;
}

.pagination {
  display: flex;
  justify-content: flex-end;
}
.table-responsive td i {
  font-size: 20px;
  padding: 8px;
}
td i {
  font-size: 20px;
  padding: 8px;
}

.search {
  width: 100%
}

.search ul {
  display: flex;
  list-style-type: none;
  padding-left: 16px;
}

.search ul li {
  padding-right: 8px
}

.search .btn {
  padding: 5px 18px
}
.add_new{
  margin-right: 16px;
}

.short-cut {
  width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 28px;
  -webkit-line-clamp: 4;
  height: 129px;
  display: -webkit-box !important;
  -webkit-box-orient: vertical
}

/* ------------------- */

@media (max-width: 100em) {
  .short-cut {
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 28px;
    -webkit-line-clamp: 6;
    height: 180px;
    display: -webkit-box !important;
    -webkit-box-orient: vertical
  }
}

