.table-responsive thead {
  background-color: #E2DCC8;
  color: #47474a
}

.table-responsive tbody {
  background-color: #F1F1F1;
}

.table-responsive td i {
  font-size: 20px;
  padding: 8px;
}


.pagination {
  display: flex;
  justify-content: flex-end;
}
td i {
  font-size: 20px;
  padding: 8px;
}

.search {
  width: 100%
}

.search ul {
  display: flex;
  list-style-type: none;
  padding-left: 16px;
}

.search li {
  padding-right: 8px
}

.search .btn {
  padding: 5px 18px
}
.add_new{
  margin-right: 16px;
}
