<div class="custom-skeleton" >
  <tr *ngFor="let i of [1,2,3]">
    <td class="row-padding"><p-skeleton borderRadius="8px" width="200px" height="40px"></p-skeleton></td>
    <td class="row-padding"><p-skeleton borderRadius="8px" width="250px" height="40px"></p-skeleton></td>
    <td class="row-padding"><p-skeleton borderRadius="8px" width="640px" height="40px"></p-skeleton></td>
    <td class="row-padding"><p-skeleton borderRadius="8px" width="360px" height="40px"></p-skeleton></td>
  </tr>
</div>

